body {
  background-image: url(pic.jpeg);
  background-size: cover;
  background-position: center;
}

.wrapper {
	display: grid;
	grid-auto-rows: 85px;
	justify-items: center;
}

h1.title {
	color: white;
	text-decoration: underline;
}

.wrapper form {
	display: grid;
	align-items: end;
	margin: 0px;
}

.wrapper input[type='submit'] {
	padding: 10px;
	min-width: 240px;
	background-color: white;
	font-weight: 600;
	border: 1px solid #7b1fa2;
	border-radius: 5px;
	color: #7b1fa2;	
	cursor: pointer;
}



@media (min-width: 800px) {
	.wrapper {
		grid-template-columns: 1fr 1fr 1fr;
	}
	h1.title {
		grid-column: 1/4;
	}
}

